$color-gold: rgb(255, 222, 38);
$color-black: #282c34;
$color-red: rgb(235, 26, 26);

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.App {
  background-color: $color-black;
  max-width: 100vw;
  margin: 0 auto;
  padding-bottom: 40px;
  box-sizing: border-box;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  input {
    background-color: $color-black;
    border: none;
    outline: none;
    color: $color-gold;
    font-size: 50px;
    width: 40px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-gold;
  }
}

#title {
  text-align: center;
  margin-bottom: auto;
}

.wordDisplay {
  color: $color-gold;
  font-size: 40px;
  margin-top: 40px;
  text-align: center;
  transition: all .2s;

  .letter {
    display: inline-block;
    width: 35px;
    border-bottom: 1px solid $color-gold;
    margin: 5px;
    padding-bottom: 10px;
  }
}

.wrongLetters {
  color: $color-red;
  font-size: 20px;
  margin-top: 25px;

  &__heading {
  }

  &__container {
    height: 30px;
    text-align: center;
  }

  &__text {
    font-size: 24px;
  }
}

button {
  background-color: $color-black;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  color: white;
  font-size: 15px;
  transition: all .2s;

  &:hover, &:active {
    color: $color-gold;
    transform: scale(1.3);
  }
}

.guessesLeft {
  text-align: center;
  height: 40px;
  p {
    margin: 0;
  }
}

.callToAction {
  color: $color-gold; 
  transition: all .1s;
  animation: cta 1s linear infinite backwards;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes cta {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

.msg {
  height: 35px;
  
  p {
    margin: 0;
  }
}

.gold {
  color: $color-gold;
  transform: scale(1.2);
}

.red {
  color: $color-red;
  transform: scale(1.2);
}